google-api-python-client==2.126.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
python-pptx==0.6.23
matplotlib==3.8.4
seaborn==0.13.2
pandas==2.2.2
numpy==1.26.4
wordcloud==1.9.3
Pillow==10.3.0
python-dotenv==1.0.1
